JWT_SECRET=change-this-to-a-long-random-secret
CORS_ORIGINS=http://64.177.113.148,http://h5.danawang8899.com,https://h5.danawang8899.com
HTTP_PORT=80
MONGO_URI=mongodb://mongo:27017
MONGO_DB=random_match
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
TURN_EXTERNAL_IP=64.177.113.148
TURN_REALM=random-match
TURN_PORT=3478
TURN_USERNAME=random
TURN_PASSWORD=RandomMatchTurn123456
VITE_FORCE_TURN=true
VITE_ICE_SERVERS=[{"urls":"stun:stun.l.google.com:19302"},{"urls":"turn:64.177.113.148:3478?transport=udp","username":"random","credential":"RandomMatchTurn123456"},{"urls":"turn:64.177.113.148:3478?transport=tcp","username":"random","credential":"RandomMatchTurn123456"}]